# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.*.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.dev.vars
.prod.vars
.prod.secrets

# Cloudflare Workers local secrets
.dev.vars
.wrangler
.tmp
cloudflared.dev.yml
.partykit

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Other
docs

# preset build artifacts
mods/dist/
mods/python/.venv/
mods/python/.pyinstaller/
mods/python/*.spec
mods/installer/*.wixpdb
**/__pycache__/

# TEMP
mods/preset_loader
